@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background: rgb(31, 31, 31);
    font-family: 'Montserrat', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffffffc4;
    background: transparent;
    border-radius: 10px;
    font-size: 1.5em;
    outline: none;
    margin-bottom: 4px;
    color: white;
}

button {
    background: linear-gradient(160deg, #8f00ff, #df9dff);    
    color: black;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    border: 1px solid purple;

}

#delete-btn{
    background: transparent;
    color: white;
}

ul {
    margin-top: 20px;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    font-size: 1.2rem ;
    color: #ffffff;
    text-decoration: none;
}

