body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 8px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #14213d;
    color: #2b2839;
    border-bottom: 6px solid #fca311;
    border-radius: 8px;
}

.card:hover{
    border-bottom: 10px solid #fca311;
}

h3, h4{
    color: #fca311;
}
p{
    color: #e5e5e5;
}
p:hover{
    border-bottom: 4px solid #fca21144;
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
